$font-stack: "Josefin Sans", sans-serif;

.first-main {
    h2 {
        font-family: $font-stack;
    }

    h3 {
        font-family: $font-stack;
    }

    p {
        font-family: $font-stack;
    }

    li {
        font-family: $font-stack;
    }

    button {
        font-family: $font-stack;
    }


}