$font-stack: "Josefin Sans", sans-serif;
$font-size-h1: 50px;
$font-size-h2: 30px;
$font-style: italic;
$font-weight-h1: 800;
$font-weight-h2: 700;

main {
    h1 {
        font-family: $font-stack;
        font-weight: $font-weight-h1;
        font-style: $font-style;
        font-size: $font-size-h1;
    }

    h2 {
        font-family: $font-stack;
        font-weight: $font-weight-h2;
        font-size: $font-size-h2;
    }

    h3 {
        font-family: $font-stack;
    }

    p {
        font-family: $font-stack;
    }

    li {
        font-family: $font-stack;
    }

    button {
        font-family: $font-stack;
    }
}